.Header {
  display: flex;
  justify-content: space-between;
}

.breadcrumb {
  text-align: left;
  /* margin-left: 10px; */
  margin-top: 10px;
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #fff;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.task-btn a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.task-btn {
  background: #0275d8;
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px;
}
